<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%="part: " + name %></title>
</head>
<body>
    <h1><%= name %></h1>
    <div>
        <h2>Type:<%= type %></h2>
        <h2>Brand:<%= brand.name %></h2>
        <a href="/part/<%= id %>/delete">Remove</a>
        <a href="/part/<%= id %>/update">Update</a>
    </div>
    <p>Rating:</p>
    <p class="stars"><%= "â­".repeat(rating) %></p>

    <p>Description:</p>
    <article><%= desc %></article>
</body>
</html>



<style>
    div {
        display: flex;
        margin: 20px 10px;
    }
    div * {
        margin: 5px;
        padding: 3px;
        border: 1px solid black;
        border-radius: 5px;
    }
    article {
        margin: 20px;
    }
    .stars {
        font-size: 30px;
    }
</style>