<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%="part: " + name %></title>
</head>
<body>
    <h1><%= name %></h1>
    <h2><%= type %></h2>
    <h2><%= brand.name %></h2>
    <article><%= desc %></article>
    <% console.log(desc) %>
    
</body>
</html>