<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <div>
            <% parts.forEach(part => { %>
                <div class="maindiv">
                    <a href="/part/<%= part._id %>"><p id="partname"> <%= part.name %></p></a>
                    <span class="part"><%= part.type %></span>
                    <span class="part"><%= part.brand.name %></span>
                    <p class="stars"><%= "â­".repeat(part.rating) %></p>
                    <a href="/part/<%= part._id %>/update">Update</a>
                    <a href="/part/<%= part._id %>/delete">Delete</a>
                </div>
            <% }) %>
        </div>
    </body>
</html>

<style>
    .maindiv {
        border: 2px solid grey;
        padding: 0 10px;
    }
    .part {
        border: 1px solid black;
        margin : 10px;
        padding: 4px;
        border-radius: 5px;
    }
    #partname {
        font-weight: bold;
    }
    .stars {
        font-size: 20px;
        padding: 0;
    }
</style>